html {
  height: 100%;
  width: 100%;
  --bsh: rgba(0, 0, 0,0.5);
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #1b1b1b;
}

html[data-theme='dark'] {
  height: 100%;
  width: 100%;
  --bsh: rgba(43, 42, 42, 0.5);
  --bg: #0f0e0e;
  --bg-panel: #181717;
  --color-headings: #004594;
  --color-text: #e0e0e0;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2em;
}

.container {
  background-color: var(--bg-panel);
  text-align: center;
}

.container h1 {
  position: relative;
  bottom: 3px;
}

.wrapper-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  width: 280px;
  height: 360px;
  background: var(--bg-panel);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0px 7px 10px var(--bsh);
          box-shadow: 0px 7px 10px var(--bsh);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 38px;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 176, 155, 0.5)), to(#96c93d));
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), #96c93d);
  z-index: 2;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 23px;
}

.card .info h1 {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btnHolderMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50%;
}

.btnMain {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: relative;
  width: 90px;
  height: 30px;
  text-align: center;
}

.privbtn {
  cursor: not-allowed;
}

.pohX {
  display: none;
}

.card .info .btnMain:hover {
  -webkit-box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.5);
}

h1 {
  color: var(--color-headings);
}

p {
  color: var(--color-text);
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=main.css.map */